{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <div class="row">
        <p><b>New to Microblog? <a href="{{ url_for('auth.register') }}"> Create an account</a></b></p>
        <p><b>Forgot Your Password? <a href="{{ url_for('auth.reset_password_request') }}">Forgot password?</a></b></p>

        <!-- Add the Google OAuth2 button/link here -->
        <p>Have you social account?</p>
        <a href="{{ url_for('auth.google_login') }}" class="btn btn-primary">
            Login with Google
        </a>


    </div>

{% endblock %}
