{% extends "base.html" %}

{% block app_content %}
    <div class="container">
    <h3 class="mt-4">About Microblog</h3>
    <hr class="mb-4">
    <p class="lead">Welcome to <strong class="text-primary">Microblog</strong>, a platform for sharing thoughts, ideas,
        and experiences with a vibrant community of users. Whether you're a writer, a thinker, or someone who simply
        wants to express themselves, Microblog offers a space to connect, engage, and interact.</p>

    <p class="lead">Our platform encourages open discussions, creative expression, and the exchange of diverse
        viewpoints. Whether it's a quick update, a thought-provoking article, or a captivating story, Microblog lets you
        share your content in a straightforward and engaging way.</p>

    <p class="lead">Connect with other users, explore a wide range of topics, and engage in meaningful conversations.
        Our user-friendly interface and intuitive features make it easy to post, comment, and interact with others in
        real time.</p>

    <div class="mt-5">
        <h4 class="mb-3">Developed By</h4>
        <p><strong>Rakesh Kumar</strong> - <a href="https://www.linkedin.com/in/m-rakesh-kr" class="text-primary">LinkedIn</a>
        </p>


        <h3>All Rights Reserved</h3>
        <p><strong>&copy; {{ current_year }} Microblog! All rights reserved.</strong></p>
    </div>
{% endblock %}


